
@charset "UTF-8";
/* CSS Document */

* :focus {
	outline:0;
}

* {
	margin:0;
	padding:0;
}

p {
	margin-bottom: 1rem;
}

#texts ul {
	list-style-position: inside;
}

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:1.2rem;
	line-height:1.1em;
	color:#3B3936;
	background-color:#FFFFFF;
}

main {
	width:75rem;
	margin:24px auto 24px auto;
	overflow:auto;
	padding-bottom:85px;
}

#topnavi {
	width:414px;
	text-align:right;
	margin:0 auto 20px auto;
	font-size:1em;
}

#topnavi a:link {
	color:#3B3936;
	text-decoration:none;
}

#topnavi a:visited {
	color:#3B3936;
	text-decoration:none;
}

#topnavi a:hover {
	color:#7E7973;
	text-decoration:none;
}

#topnavi a:active {
	color:#9F9B97;
	text-decoration:none;
}

#header {
	margin-bottom: 2rem;
}

.logo {
	width:20rem;
	height: auto;
	margin:0 0 0 0;
}

.grafik {
	width:100%;
	margin:0 0 24px 0;
}
.grafik img {
	width:100%;
}
h3 {
	font-size:1.1em;
	font-weight:bold;
	color:#0090C7;
	margin:0 0 18px 0;
}
.text_1 {
	font-size:1em;
	line-height:1.6em;
	width:49%;
	float:left;
	padding-right: 1%;
}

.text_2 {
	font-size:1em;
	line-height:1.6em;
	width:49%;
	float:left;
	padding-left: 1%;
}

.full_text {
	font-size:1em;
	margin:0 0 12px 0;
	line-height:1.6em;
	width:100%;
	float:left;
}

.highlight {
	color:#B1B905;
	font-weight:bold;
	font-size:1.1em;
	line-height:1.6em;
}

.subheadline {
	color:#0090C7;
	font-weight:bold;
}

a:link {
	color:#F28400;
	text-decoration:none;
}

a:visited {
	color:#F28400;
	text-decoration:none;
}

a:hover {
	color:#FFA81D;
	text-decoration:none;
}

a:active {
	color:#FEC752;
	text-decoration:none;
}


li {
	margin:0 0 0.8em 0;
}

#sidebar {
	width: 20%;
	float:left;
}

#sidebar .box {
	font-size:0.9em;
	background-color:#EAEAEA;
	background-image:url(elements/sidebar.png);
	background-repeat:no-repeat;
	margin:0 0 12px 0;
	padding:9px 9px 0 11px;
	line-height:1.3em;
}

#sidebar .box_titel {
	font-size:1em;
	font-weight:bold;
	color:#0090C7;
	margin:0 0 4px 0;
}

#sidebar .dots {
	color:#958F88;
	padding:0 0 0 0.2em;
}

#sidebar .box_weiter {
	font-size:0.9em;
	letter-spacing:0.1em;
	font-style:italic;
	margin:4px 0 0 0;
	padding:0 0 0 13px;
	background:url(elements/pfeil-grau1.png) no-repeat left center;
}

#sidebar .box_weiter:hover {
	color:#0090C7;
	font-size:0.9em;
	letter-spacing:0.1em;
	font-style:italic;
	margin:4px 0 0 0;
	padding:0 0 0 13px;
	background:url(elements/pfeil-blau.png) no-repeat left center;
}

#content {
	width:79%;
	float:left;
	padding-right: 1%;
}


/* must be same height as the footer */
#footer {
	position:relative;
	margin-top:-85px; /* negative value of footer height */
	height:85px;
	clear:both;
	width:880px;
	margin:24px auto 24px auto;
} 


/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/* ----------- */

	#menu {
		display:block;
		text-decoration:none;
		height:32px;
		margin:0 0 24px 0;
		clear:both;
		list-style-type: none;


	}

	#menu a {
		padding: 0.8rem;
		font-weight: bold;
		font-style: italic;
		background-color: #EAEAEA;
		color: #0090C7;
		width: auto;
		text-align: center;
	}

	#menu li {
		float: left;
		margin-right: 0.5rem;
	}
